/node_modules
/public/hot
/public/assets
/public/js
/public/fonts
/public/css
/public/img
/storage/*.key
/vendor
/.idea
/.vscode
/.vagrant
!/public/assets/uploads/company/default.png
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.phpunit.result.cache
